# Solutions
*.java1

# Other resources
*.pptx
*.ppt

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Temporal folders
.ipynb_checkpoints/
_backup/

# Package Files #
*.jar
*.war
*.ear
*.tar.gz
*.rar
